.netflix-navbar{
    position: fixed;
    z-index: 9999;
    // background-color: #111111;
    background: transparent;
    .netflix-logo{
        height:1.3vw;
    }
    .user-logo{
        height: 1.8vw;
        position: absolute;
        right:0;
        padding-right: 2vw;
    }
}