.poster{
    color: #fff;
    background-size: cover;
    background-size: 100%;
    .title{
        font-size: 3vw;
        font-weight: 400;
    }
    .movie-desc{
        padding-top: 15vw;
        padding-left: 2vw;
    }
    .buttons{
        display: flex;
        gap: 1vw;
        padding-top: 0.8vw;
        background: transparent;
    }
    .overview{
        padding-top: 1vw;
        max-width: 50%;
        font-size: 1vw;
    }
}
