<section class="poster">
  <div class="background-image" [ngStyle]="{'background': 'url(' + url + ') no-repeat 0 0 / cover'}">
    <div class="movie-desc">
      <h3 class="title">{{poster.name}}</h3>
      <div class="buttons">
        <button type="button" class="btn btn-dark btn-outline-secondary">Play</button>
        <button type="button" class="btn btn-dark btn-outline-secondary">My List</button>
      </div>
      <p class="overview">
          {{originalDescription}}
      </p>
    </div>
  </div>
</section>
