.movie-section{
  .iframe{
    width: 95vw;
    height:50vh;
  }
  padding: 1.8vw;
  .heading{
    font-size: 1.4vw;
    padding: 1vw;
    padding-top: 0.8vw;
  }
  .image_container{
    display: flex;
    gap:0.8vw;
    overflow-x: scroll;
    .image{
      cursor: pointer;
      max-height: 17.4vh;
    }
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 0px;
  }
  .movie-section{
    .heading{
      font-size: 3.4vw;
      padding: 2vw;
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 912px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 0px;
  }
  .movie-section{
    .heading{
      font-size: 2.4vw;
      padding: 1.8vw;
    }
  }
}

